# Compilados y temporales
/bin/
/build/
/out/

# IDEs
*.iml
.idea/
.vscode/
*.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Gradle
.gradle
*.log
!gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build